NodeRedPlantNurse/flows.json
[
    {
        "id": "3d2431d.466d3ce",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4aff7920.82eac8",
        "type": "tls-config",
        "z": "",
        "name": "GeoTrust",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "GeoTrust_Primary_CA.pem",
        "verifyservercert": false
    },
    {
        "id": "ad1b817.507cd8",
        "type": "mqtt-broker",
        "z": "",
        "name": "PlantNurseSuperMegaMax",
        "broker": "m23.cloudmqtt.com",
        "port": "28205",
        "tls": "4aff7920.82eac8",
        "clientid": "NodeRed",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "de5eb2ee.d7abe",
        "type": "wfwatch",
        "z": "3d2431d.466d3ce",
        "folder": "D:\\Users\\Maaike\\Documents\\Informatica\\Jaar 2\\Interactie Technologie\\Plant\\SkinAndGestures\\SkinAndGestures\\commands",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "73ed1af.bd02ce4"
            ]
        ]
    },
    {
        "id": "73ed1af.bd02ce4",
        "type": "change",
        "z": "3d2431d.466d3ce",
        "name": "Remove filepath",
        "rules": [
            {
                "t": "change",
                "p": "payload.filePath",
                "pt": "msg",
                "from": "D:\\Users\\Maaike\\Documents\\Informatica\\Jaar 2\\Interactie Technologie\\Plant\\SkinAndGestures\\SkinAndGestures\\commands\\",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 300,
        "wires": [
            [
                "57832641.b09ef8"
            ]
        ]
    },
    {
        "id": "57832641.b09ef8",
        "type": "switch",
        "z": "3d2431d.466d3ce",
        "name": "Split",
        "property": "payload.filePath",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "water.txt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "readSensors.txt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 300,
        "wires": [
            [
                "b784e926.1e44c8"
            ],
            [
                "5623d4bb.1d407c"
            ]
        ]
    },
    {
        "id": "b784e926.1e44c8",
        "type": "change",
        "z": "3d2431d.466d3ce",
        "name": "Water",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 260,
        "wires": [
            [
                "8dd25e64.9e773"
            ]
        ]
    },
    {
        "id": "5623d4bb.1d407c",
        "type": "change",
        "z": "3d2431d.466d3ce",
        "name": "ReadSensors",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 320,
        "wires": [
            [
                "6b8c23b1.a1b46c"
            ]
        ]
    },
    {
        "id": "8dd25e64.9e773",
        "type": "mqtt out",
        "z": "3d2431d.466d3ce",
        "name": "",
        "topic": "plantNurse/waterNow",
        "qos": "1",
        "retain": "",
        "broker": "ad1b817.507cd8",
        "x": 1520,
        "y": 260,
        "wires": []
    },
    {
        "id": "6b8c23b1.a1b46c",
        "type": "mqtt out",
        "z": "3d2431d.466d3ce",
        "name": "",
        "topic": "plantNurse/updateSensorsNow",
        "qos": "1",
        "retain": "",
        "broker": "ad1b817.507cd8",
        "x": 1550,
        "y": 320,
        "wires": []
    }
]